@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: black;
}

li,a,button{
	font-family: "Montserrat",sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #edf0f1;
	text-decoration: none;
}
header{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px 2%;
}

.logo{
	
	padding: 0px;
	height: 55px;
	width: 80px;
}

.nav_links {
	list-style: none;
	margin-right: 600px;
	padding: 0px 100px 0px;
}

.nav_links li{
	display: inline-block;
	padding: 0px 20px;
}

.nav_links li a{
	transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
	color: #ff6347;
}

button{
	padding: 9px 50px;
	margin-right: 100px;
	background-color: rgba(209,0,0,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover{
	background-color: rgba(209,0,0,0.8);
}

footer{
	position: absolute;
	bottom: 10000;
	left: 0;
	right: 0;
	background-color: #111;
	height: auto;
	width: 100vm;
	font-family: "Open Sans";
	padding-top: 40px;
	color: #fff;
}

.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-content h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
}

.footer-content p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}

.socials{
	cursor: pointer;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}

.socials li{
	margin: 0 10px;	
}

.socials a{
	text-decoration: none;
	color: #fff;
}

.socials a i{
	font-size: 1.1rem;
	transition: color .4s ease;
}

.socials a:hover i{
	color: #ff6347;
}

.footer-bottom{
	background-color: #000;
	width: 100vm;
	padding: 5px 0;
	text-align: center;
}



.footer-bottom span{
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}
.boxes {
  color: white;

  padding: 40px 40px;
  height: 600px;
  width: 900px;
  background-color: #000;
  margin: 0px 50px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.content{
	
	color: white;
    position: relative;
    justify-content: space-between;
    background-color: #000;
    padding-top: 70px;
	font-size: 25px;
	text-align: center;
}
.button1{
	padding: 9px 50px;
	margin-left: 310px;

	background-color: rgba(209,0,0,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.button1:hover{
	background-color: rgba(209,0,0,0.8);
}
.map_img{
	position: relative;
	margin-top: 100px;
	margin-left: 20px;
	height: 900px; 
	width: 1430px; 
	padding: 0px 0px; 
	margin-left: 100px; 
}
.content1{
	
	color: white;
    position: relative;
    justify-content: space-between;
    background-color: #000;
    padding-top: 100px;
	font-size: 25px;
	margin-left: 50px;
	text-align: left;
}
.box1 {
  color: white;

  padding: 40px 40px;
  height: 600px;
  width: 500px;
  background-color: #000;
  margin: 0px 50px;
  margin-top: -600px;
  margin-left: 880px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.content2{
	
	color: white;
    position: relative;
    justify-content: space-between;
    background-color: #000;
    padding-top: 120px;
	font-size: 25px;
	margin-left: 10px;
	text-align: left;
}
.button2{
	padding: 10px 50px;
	margin-left: 100px;

	background-color: rgba(209,0,0,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.button2:hover{
	background-color: rgba(209,0,0,0.8);
}